.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.income,
.expenses {
  min-height: 30vh;
  padding: 10px;
}

.income {
  display: flex;
  flex-direction: column;

  &__header {
    margin: 10px 0;
  }

  &__heading {
    margin: 10px 0;
    font-size: 2.5rem;
  }

  &__edition {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    font-size: 1.4rem;
  }

  &__btns {
    display: flex;
    flex-direction: column;
  }

  &__aside {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 20%;
    padding: 10px;
    border: none;
  }

  &__input {
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
  }
}

.expenses {
  padding-top: 20px;
  &__header {
    margin: 10px 0;
  }

  &__heading {
    margin: 10px 0;
    font-size: 2.5rem;
  }

  &__aside {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 20%;
    padding: 10px;
    border: none;
  }

  &__input {
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
  }
}

.saldo {
  &__text {
    margin-right: 10px;
    font-size: 1.4rem;
  }

  &__input {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }
}
