.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30vh;

  &__logo{
    max-width: 960px;
    height: 10vh;
    width: 100%;
    background-image: url('../images/euro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__message {
    display: flex;
    justify-content: center;
    align-items: center;

    &-input {
      width: 100%;
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 560px){
  .header {
    &__logo {
      height: 15vh;
    }
  }
}
