.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.incomes,
.expenses {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  padding: 10px;
  border: 1px solid #fff;
}

.incomes {
  &__header {
    margin: 10px 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
  }

  &__heading {
    margin: 10px 0;
    font-size: 2.8rem;
  }

  &__edition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__list {
    font-size: 1.5rem;

    li {
      padding: 10px;
    }
  }

  &__btns {
    button {
      padding: 9px 18px;
      margin-right: 10px;
      border-radius: 6px;
      font-size: 1.4rem;
    }
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 20%;
    padding: 10px;
    border: none;
  }

  &__input {
    width: 35%;
    padding: 0 10px;
    font-size: 1.6rem;
    text-align: center;
  }
}

.expenses {
  &__header {
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
  }

  &__heading {
    margin: 10px 0;
    font-size: 2.5rem;
  }

  &__aside {
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 20%;
    padding: 10px;
    border: none;
  }

  &__input {
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
  }
}

.saldo {
  &__text {
    font-size: 1.6rem;
  }

  &__input {
    text-align: center;
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .main {
    flex-direction: row;
    align-items: flex-start;
  }
}
